{% extends 'myapp/base.html' %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin-top: 70px">
                <h2>Add Ground</h2>
                <form action="{% url 'addground' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="cars" class="col-3 col-form-label">Ground:</label>

                        <input type="text" class="form-control" id="ground" name="ground" required>
                    </div>



                    <div class="form-group row">
                        <label for="cars" class="col-3 col-form-label">Futsal Name:</label>

                        <select class="form-control" id="Futsalname" name="Futsalname">
                        <option value="Shantinagar">Shantinagar</option>
                        
                        <option value="Shrestha Futsal">Shrestha Futsal</option>
                        <option value="Dhuku">Dhuku</option>
                        <option value="Hardik Futsal">Hardik Futsal</option>
                        <option value="Dhanwontari">Dhanwontari</option>
                        <option value="Shankhamul">Shankhamul</option>
                        <option value="Imadol">Imadol</option>
                        <option value="Chyasal">Chyasal</option> 

                        </select>
                    </div>

                    <div class="form-group row">
                        <label for="cars" class="col-3 col-form-label">Gname:</label>

                        <select class="form-control" id="Gname" name="Gname">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
    
                            </select>
                    </div>


                    <div class="form-group row">
                        <label for="cars" class="col-3 col-form-label">Rem:</label>

                        <select class="form-control" id="rem" name="rem">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
    
                            </select>
                    </div>


                    <div class="form-group row">
                        <label for="cars" class="col-3 col-form-label">Price:</label>

                        <input type="number" class="form-control" id="price" name="price" required>
                    </div>


                    <div class="form-group row">
                        <label for="cars" class="col-3 col-form-label">Time:</label>

                        <input type="text" class="form-control" id="time" name="time" required>
                    </div>



                    <div class="form-group row">
                        <label for="cars" class="col-3 col-form-label">Date</label>
                            <input name='date' class="form-control" type="date" required>
                    </div>


                    <div class="pull-right">
                        <button type="submit" class="btn btn-success float-right">Add Ground</button>
                    </div>

                </form>
            </div>
            
        </div>
    </div>

{% endblock %}
